<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="application.dependency"
             type="EasyIoc.Configuration.AssemblyConfigSection, EasyIoc"/>
  </configSections>

  <application.dependency>
    <assemblies>
      <assembly qualifiedName="EasyIocTest"/>
    </assemblies>
  </application.dependency>
</configuration>